body{
    font-family: 'Overpass', sans-serif;
}
/* Nav button */
@media screen and (max-width: 600px) {
  #nav-button {
  visibility: visible;
  }
}
@media screen and (min-width: 601px) {
  #nav-button {
  visibility: hidden;
  }
}
/* ./Nav button */

#title{
    margin-top: 10%;
    padding-left: 3%;
    color:#000000;
}
.orange-bold{ 
    color:#dd5410;
    font-weight: bold;
}
.black-bold{ 
    color:#000000;
    font-weight: bold;
}
.home-container{
    height: 100vh;
/* css from css-tricks.com */
    background: url("../images/ross-nevin.jpeg") no-repeat  top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* ./css from css-tricks.com */   
}
.wrapp-container{
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Sections background color */
.music-background{
    background-color: #d5d5d7;
}
.videos-background{
    background-color: #dfdfe1;
}
.about-background{
    background-color: #eaeaeb;
}
.contact-background{
    background-color: #f4f4f5;
}
/* ./sections background color */

/* Music paragraph */
@media screen and (min-width: 601px) {
  p#p-music { 
    font-size: 40px; 
  }
}
@media screen and (max-width: 600px) {
  p#p-music {
    font-size: 20px;
  }
}
/* ./Music paragraph */

/* You Tube Videos
css from youtube channel tipswithpunch */
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 5%;
}
.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ./ You Tube Videos
css from youtube channel tipswithpunch */

.song-titles{
    color:#dd5410;
}
.bottom-sections{
    margin-bottom: 5%;
}
.contact-paragraphs{
    font-size: large;
}
/* Google Maps */
@media screen and (min-width: 601px) {
  #map {
  width: 500px;
  height: 375px;
  }
}
@media screen and (max-width: 600px) {
  #map {
  width: 250px;
  height: 188px;
  }
}
/* ./Google Maps */

.paddings-contact{
    padding-bottom: 3%;
}
/* Block dividers */
.block-divider-orange{
    height: 5px;
    border: 0;
    margin-top: 0%;
    background-color: #dd5410;
}
.block-divider-black{
    height: 5px;
    border: 0;
    margin-top: 0%;
    background-color: #000000;
}
.block-divider-large{
    width: 70%;
}
.block-divider-medium{
    width: 50%;
}
.block-divider-small{
    width: 30%;
}
.block-divider-xsmall{
    width: 10%;
} 
/* Block dividers */
